*{
    padding: 9;
    margin: 0;
    box-sizing: border-box;
}

.main{
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row;
}

.topnav{
    background-color: #c41316;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    align-items: center;
    position: fixed;
}

.topnav img{
    width: 40px;
}

.topnav div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.topnav div label{
    font-size: 21px;
    color: white;
    text-shadow: 1px 1px black;
    margin: 0 10px;
}

.topnav div img{
    width: 30px;
    filter: invert(100%);   
}

.main nav{
    width: 250px;
    height: 100dvh;
    color: white;
    padding: 100px 20px;
    flex-grow: 0;
    padding-bottom: 40px;
}

.main nav ul{
    list-style: none;
    padding: 0;
    background-color: #c41316;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    padding: 20px 0;
    cursor: pointer;
}

.main nav ul li{
    font-size: 21px;
    font-weight: bold;
    padding: 10px 0;
    padding-left: 10px;
    transition: 300ms ease-in-out;
    color: white;
}

.main nav ul li.active{
    background-color: white;
    text-shadow: 1px 1px black;
    scale: 1.05;
    color: black;
    border: thin solid black;
    border-radius: 10px;
    
}

.main nav ul li:hover{
    background-color: white;
    text-shadow: 1px 1px black;
    scale: 1.05;
    color: black;
    border: thin solid black;
    border-radius: 10px;
    
}

.details{
    flex-grow: 1;
    color: black;
    padding: 80px 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details .dashboardpanel{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    animation: popup 0.3s ease-in-out;
}

.details .dashboardpanel.hiddendiv{
    display: none;
}

.details .dashboardpanel h2{
    font-size: 1.8rem;
    border: thin solid black;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #c41316;
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 5px 5px 10px black;
}


.details .orderspanel{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    animation: popup 0.3s ease-in-out;
}

.details .orderspanel.hiddendiv{
    display: none;
}

.details .orderspanel h2{
    font-size: 1.8rem;
    border: thin solid black;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #c41316;
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 5px 5px 10px black;
}



.details .orderspanel .orderscontainer{
    width: 100%;
    height: 500px;
    background-color: #c41316;
    box-shadow: 10px 10px 20px black;
    border-radius: 20px;
    border: thin solid black;
    padding: 20px;
    overflow: auto;
}

.details .orderspanel .orderlists{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    justify-items: center;
}

.details .orderspanel .orderscontainer::-webkit-scrollbar{
    display: none;
}

.orderlists .orderinfo{
    display: flex;
    flex-direction: column;
    border: thin solid #c41316;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    background-color: white;
    box-shadow: 3px 3px 5px black;
    animation: popup 0.3s ease-in-out;
}

@keyframes popup{
    0%{
        scale: 0.5;
    }
    100%{
        scale: 1;
    }
}

.orderlists .orderinfo img.iconorder{
    object-fit: contain;
    width: 80px;
    height: 100px;
    display: block;
    margin: 10px auto;
}

.orderlists .orderinfo label{
    font-size: 16px;
}

.orderlists .orderinfo label span{
    font-weight: bold;
    font-size: 18px;
}

.orderlists .orderinfo .orderstatus{
    background-color: #c41316;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}


.details .manageproductpanel{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    animation: popup 0.3s ease-in-out;
}

.details .manageproductpanel.hiddendiv{
    display: none;
}

.details .manageproductpanel h2{
    font-size: 1.8rem;
    border: thin solid black;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #c41316;
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 5px 5px 10px black;
}

.details .manageproductpanel .producscontainer{
    width: 100%;
    height: 500px;
    background-color: #c41316;
    border: thin solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    padding: 20px;
    padding-top: 10px;
    overflow: auto;
    position: relative;
}

.details .manageproductpanel .navsforproducts{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
}

.details .manageproductpanel .navsforproducts label{
    font-size: 23px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details .manageproductpanel .navsforproducts label button{
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0 5px;
    margin: 0 10px;
    border: none;
}

.details .manageproductpanel .navsforproducts label button img{
    filter: invert(100%);
    transition: all 300ms ease-out;
}

.details .manageproductpanel .navsforproducts label button:hover{
    scale: 1.08;
}

.details .manageproductpanel .navsforproducts #addproductBTN{
    width: 130px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    transition: all 300ms ease-in-out;
    border: 3px solid #c41316;
}

.details .manageproductpanel .navsforproducts #addproductBTN:hover{
    box-shadow: 5px 5px 12px black;
    scale: 1.05;
}

.details .manageproductpanel .producscontainer .productlists{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    justify-items: center;

}

.details .manageproductpanel .producscontainer::-webkit-scrollbar{
    display: none;
}

.details .manageproductpanel .productlists .foodinformations{
    background-color: white;
    width: 300px;
    display: flex;
    height: fit-content;
    padding: 20px;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.details .manageproductpanel .productlists .foodinformations img{
    height: 100px;
    object-fit: contain;
    width: 80px;
}

.details .manageproductpanel .productlists .foodinformations .foodinfointext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details .manageproductpanel .productlists 
.foodinformations .foodinfointext #productname{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.details .manageproductpanel .productlists 
.foodinformations .foodinfointext #price{
    font-size: 18px;

}

.details .manageproductpanel .productlists 
.foodinformations .foodinfointext #price span{
    font-weight: 600;
}

.details .manageproductpanel .productlists 
.foodinformations .foodinfointext div{
    padding: 5px 0;
}

.details .manageproductpanel .productlists 
.foodinformations .foodinfointext div button{
    background-color: #c41316;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: thin solid black;
    border-radius: 8px;
    width: 80px;
    padding: 3px 0;
    transition: all 300ms ease-out;
}

.details .manageproductpanel .productlists 
.foodinformations .foodinfointext div button:hover{
    scale: 1.05;
}


.filteringproductspanel{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.365);
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.filteringproductspanel .allcategories{
    background-color: white;
    border: thin solid black;
    border-radius: 20px;
    width: 400px;
    height: 230px;
    padding: 20px;
    overflow: auto;
    box-shadow: 8px 8px 15px black;
    animation: popup 300ms ease-in-out;
    border: 3px solid #c41316;
}

.filteringproductspanel .allcategories::-webkit-scrollbar{
    display: none;
}

.filteringproductspanel .allcategories .navsforfiltering{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filteringproductspanel .allcategories .navsforfiltering button{
    background-color: #c41316;
    color: white;
    width: 80px;
    font-size: 14px;
    border-radius: 10px;
}

.filteringproductspanel .allcategories ul{
    list-style-type: none;
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding: 0;
}

.filteringproductspanel .allcategories ul li{
    padding: 5px 0;
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
}

.filteringproductspanel .allcategories ul li:hover{
    background-color: #c41316;
    color: white;
    text-shadow: 1px 1px black;
}

.details .manageaccountpanel{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    animation: popup 0.3s ease-in-out;
}

.details .manageaccountpanel.hiddendiv{
    display: none;
}

.details .manageaccountpanel h2{
    font-size: 1.8rem;
    border: thin solid black;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #c41316;
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 5px 5px 10px black;
}

.details .manageaccountpanel .allaccounts{
    width: 100%;
    height: 500px;
    background-color: #c41316;
    border: thin solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    padding: 20px;
    padding-top: 10px;
    overflow: auto;
    position: relative;
}

.details .manageaccountpanel .allaccounts .navsforemployees{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.178);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.details .manageaccountpanel .allaccounts .navsforemployees label{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
}

.details .manageaccountpanel .allaccounts .navsforemployees button{
    font-weight: bold;
    font-size: 14px;
    padding: 5px 0;
    width: 120px;
    border-radius: 10px;
    border: 3px solid #c41316;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.details .manageaccountpanel .allaccounts .navsforemployees button:hover{
    box-shadow: 3px 3px 8px black;
    scale: 1.08;
}

.details .manageaccountpanel .allaccounts table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.details .manageaccountpanel .allaccounts table th{
    border-bottom: thin solid white;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0;
}

.details .manageaccountpanel .allaccounts table td{
    color: white;
    font-size: 16px;
    padding: 5px 0;
    cursor: pointer;
    transition: all 350ms ease-in-out;
}

.details .manageaccountpanel .allaccounts table td button{
    background-color: transparent;
    border: thin solid white;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    margin: 0 4px;
}

.details .manageaccountpanel .allaccounts table td button:hover{
    scale: 1.08;
}

.details .manageaccountpanel .allaccounts table td button img{
    filter: invert(100%);
    object-fit: contain;
}

.details .manageaccountpanel .allaccounts table tbody tr{
    transition: all 300ms ease-in-out;
    border-radius: 20px;
}

.details .manageaccountpanel .allaccounts table tbody td.actiontd{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .details .manageaccountpanel .allaccounts table tbody tr:hover{
    background-color: white;
}

.details .manageaccountpanel .allaccounts table tbody tr:hover td{
    color: black;
}

.details .manageaccountpanel .allaccounts table tbody tr:hover td button{
    border: thin solid black;
}

.details .manageaccountpanel .allaccounts table tbody tr:hover td button img{
    filter: invert(0%);
} */


.addproductpanel{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.365);
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.addproductpanel .addrproductform{
    background-color: white;
    border: thin solid black;
    border-radius: 20px;
    width: 400px;
    height: auto;
    padding: 20px;
    overflow: auto;
    box-shadow: 8px 8px 15px black;
    animation: popup 300ms ease-in-out;
    border: 3px solid #c41316;
}

.addproductpanel .addrproductform form #displayImage{
    width: 130px;
    height: 130px;
    border-radius: 20px;
    object-fit: contain;
}

.addproductpanel .addrproductform form .forimage label{
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}

.addproductpanel .addrproductform form .imgcontainer{
    border: thin solid black;
    width: fit-content;
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
    position: relative;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin: 20px auto;
    margin-top: 3px;
}

.addproductpanel .addrproductform form .imgcontainer:hover{
    box-shadow: 6px 6px 15px black;
    scale: 1.07;
}

.addproductpanel .addrproductform form .imgcontainer:hover label{
    display: block;
}

.addproductpanel .addrproductform form .imgcontainer label{
    display: block;
    position: absolute;
    width: 100px;
    background-color: #c41316;
    color: white;
    font-size: 11px;
    padding: 3px 7px;
    right: -80px;
    border-radius: 10px 10px 10px 0;
    animation: popup 300ms ease-in-out;
    display: none;
}

.addproductpanel .addrproductform form #imageInput{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    display: none;

}

.addproductpanel .addrproductform form .otherdivs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;

}

.addproductpanel .addrproductform form .buttonsdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.addproductpanel .addrproductform form .buttonsdiv button{
    background-color: #c41316;
    color: white;
    text-shadow: 1px 1px black;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.addproductpanel .addrproductform form .buttonsdiv button:hover{
    scale: 1.06;

}

.addproductpanel .addrproductform form .otherdivs label{
    display: block;
    font-size: 20px;
    font-weight: bold;

}

.addproductpanel .addrproductform form .otherdivs input{
    width: 100%;
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
    border: thin solid black;
    border-radius: 10px;
}

.addaccountpanel{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.365);
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.addaccountpanel .addaccountformcontainer{
    background-color: white;
    border: thin solid black;
    border-radius: 20px;
    width: 400px;
    height: auto;
    padding: 20px;
    overflow: auto;
    box-shadow: 8px 8px 15px black;
    animation: popup 300ms ease-in-out;
    border: 3px solid #c41316;
}

.addaccountpanel .addaccountformcontainer .navsforaddaccount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.addaccountpanel .addaccountformcontainer .navsforaddaccount label{
    font-weight: bold;
    font-size: 18px;
}

.addaccountpanel .addaccountformcontainer .navsforaddaccount button{
    width: 80px;
    font-size: 12px;
    font-weight: bold;
    background-color: #c41316;
    color: white;
    padding: 3px 0;
    border-radius: 8px;
    border: thin solid black;
}

.addaccountpanel .addaccountformcontainer form div{
    padding: 3px 0;
}

.addaccountpanel .addaccountformcontainer form div label{
    display: block;
}

.addaccountpanel .addaccountformcontainer form div input{
    font-size: 18px;
    width: 100%;
    padding: 3px 0;
    padding-left: 10px;
    border: thin solid black;
    border-radius: 10px;
}

.addaccountpanel .addaccountformcontainer form button{
    display: block;
    margin: 8px auto;
    background-color: #c41316;
    color: white;
    text-shadow: 1px 1px black;
    border: thin solid black;
    border-radius: 12px;
    padding: 8px 0;
    width: 120px;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

.addaccountpanel .addaccountformcontainer form button:hover{
    scale: 1.08;
}





.hiddendiv{
    display: none;
}

@media screen and (max-width: 1400px) and (max-height:700px) {
    .topnav img{
        width: 30px;
    }

    .topnav div label{
        font-size: 18px;
    }

    .topnav div img{
        width: 23px;
    }

    .main nav{
        padding: 100px 0;
        padding-bottom: 20px;
    }

    .main nav ul{
        width: 200px;
        margin: 0 auto;
    }

    .main nav ul li{
        font-size: 18px;
        padding: 7px;
    }

    .details .dashboardpanel h2,
    .details .orderspanel h2,
    .details .manageproductpanel h2,
    .details .manageaccountpanel h2{
        font-size: 21px;
    }

    .details .orderspanel{
        
    }

    .orderlists .orderinfo img.iconorder{
        width: 50px;
        height: 60px;
    }

    .details .orderspanel .orderscontainer{
        height: 450px;
    }

    .orderlists .orderinfo label span{
        font-size: 16px;
    }

    .orderlists .orderinfo label{
        font-size: 14px;
    }

    .orderlists .orderinfo .orderstatus{
        margin-top: 5px;

    }

    .orderlists .orderinfo .orderstatus img{
        width: auto;
        height: 20px;
        object-fit: contain;
        
    }

    .details .manageproductpanel .producscontainer{
        height: 450px;
    }

    .details .manageproductpanel .navsforproducts label{
        font-size: 18px;
    }

    .details .manageproductpanel .navsforproducts label button img{
        width: 20px;
        height: 20px;
    }

    .details .manageproductpanel .navsforproducts #addproductBTN{
        font-size: 16px;
        width: 80pxs;
    }

    .details .manageproductpanel .productlists .foodinformations{
        width: 250px;
    }

    .details .manageproductpanel .productlists .foodinformations img{
        height: 70px;
        width: 50px;
    }

    .details .manageproductpanel .productlists 
    .foodinformations .foodinfointext #productname{
        font-size: 18px;
    }

    .details .manageproductpanel .productlists 
    .foodinformations .foodinfointext #price{
        font-size: 15px;
    }
    
    .details .manageproductpanel .productlists 
    .foodinformations .foodinfointext div button{
        width: 60px;
        font-size: 14px;
    }

    .details .manageaccountpanel{
        padding-bottom: 0;
    }

    .details .manageaccountpanel .allaccounts{
        height: 450px;
    }

    .details .manageaccountpanel .allaccounts .navsforemployees label{
        font-size: 18px;
    }

    .details .manageaccountpanel .allaccounts table th{
        font-size: 18px;
    }

    .details .manageaccountpanel .allaccounts table td{
        font-size: 14px;
    }


}


