*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    background-image:linear-gradient(rgba(237, 37, 37, 0.2),rgba(0, 0, 0, 0.2)), url(Assets/jolli01.png);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main nav{
    background-color: #c41316;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex-grow: 0;
}

.main nav img{
    width: 50px;
}

.main nav label{
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 24px;
}

.details {
    width: fit-content;
    padding: 20px 30px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
    background-color: rgba(0, 0, 0, 0.161);
    margin: 0 auto;
}


.menunav,
.menuitems,
.totallying{
    background-color: rgb(122, 122, 18);
    width: 20%;
    margin: 0 5px;
    border: thin solid black;
    border-radius: 20px;
}

.menunav{
    width: 260px;
    background-color: white;
    padding: 20px 0;
    padding-left: 20px;
    margin: 0;
    
}

.menunav h2{
    font-size: 1.5rem;
    padding: 10px 0;
}

.menunav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.menunav ul li{
    font-size: 24px;
    padding: 15px 0;
    padding-right: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
}

.menunav ul li:hover,
.menunav ul li.active{
    background-color: rgb(227, 220, 220);
    padding-left: 20px;
}

.menunav ul li:hover img{
    scale: 1.25;
}

.menunav ul li img{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    transition: all 300ms ease-in-out;
}

.menuitems{
    background-color: rgba(29, 28, 28, 0.188);
    background-color: transparent;
    margin: 0;
    width: 700px;
    padding: 20px;
    overflow: auto;
    border: none;
}

.menuitems::-webkit-scrollbar{
    display: none;
}

.menuitems .navigator{
    background-color: white;
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 50px;
    border: thin solid black;
    border-radius: 20px;
}

.menuitems .navigator label{
    font-weight: bold;
    font-size: 23px;
    padding: 10px;
}

.menuitems .listofitems{
    background-color: white;
    height: auto;
    padding: 20px 10px;
    border: thin solid black;
    border-radius: 20px;
}

.menuitems .listofitems .containersforfoodcards{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 12px;
}

.menuitems .listofitems .containersforfoodcards.hiddenlist{
    display: none;
}

.menuitems .listofitems .foodcard{
    border: thin solid black;
    width: fit-content;
    height: auto;
    overflow: hidden;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.menuitems .listofitems .foodcard img{
    width: 100%;
    object-fit: contain;
    height: 150px;
    margin-top: 10px;
}

.menuitems .listofitems .foodcard .info{
    background-color: #c41316;
}

.menuitems .listofitems .foodcard label{
    display: block;
    text-align: center;
    font-size: 21px;
    color: white;
    text-shadow: 1px 1px black;
    padding: 3px 0;
}




.totallying{
    background-color: white;
    margin: 0;
    width: 300px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

.totallying .allitems{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    overflow: auto;
}

.totallying .allitems::-webkit-scrollbar{
    display: none;
}

.totallying h3{
    margin-bottom: 20px;
}

.totallying table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
/* 
.totallying table td,
.totallying table th{
    border: thin solid black;
} */

.totallying table th{
    font-size: 20px;
    border-bottom: thin solid black;
}

.totallying table td{
    padding: 5px 0;
}

.totallying .totals{
    border-top: thin solid black;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totallying .totals label{
    font-weight: bold;
    font-size: 23px;
}

.totallying .totals input{
    font-weight: 500;
    font-size: 18px;
    width: 200px;
    border: none;
    outline: none;
    text-align: center;
}

.totallying #paybtn{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    background-color: #c41316;
    color: white;
    text-shadow: 1px 1px black;
    transition: all 300ms ease-in-out;
}

.totallying #paybtn:hover{
    background-color: #c61e20;
}

/* loading */
.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  .loading{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(128, 124, 124, 0.549);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: 300ms ease-in-out;
    animation: loadingdivanimation ease-in-out 1s;
  }

  .loading h2{
    position: relative;
    top: 50px;
    color: white;
    text-shadow: 2px 2px black;
  }

  @keyframes loadingdivanimation{
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
  }

  .hidediv{
    display: none;
  }